:root {
  --c-bg-base: #141414;
  --c-bg-container: #2c2c2c;
  --c-bg-highlight: #040404;
  --c-text-1: #d0d0d0;
  --c-accent: saddlebrown;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  color: var(--c-text-1);
  background: var(--c-bg-base);
  line-height: 1.6;
  font-family: 'Faculty Glyphic', 'Noto Color Emoji', sans-serif;
}

html,
body {
  overflow-anchor: none;
}

button {
  font-size: 24px;
  background-color: var(--c-bg-highlight);
  color: var(--c-text-1);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: all 0.2s ease-in-out;

  display: flex;
  align-items: center;
  padding: 10px;
}

button:hover {
  color: var(--c-bg-highlight);
  background-color: var(--c-text-1);
}
