:root {
  --c-bg-base: #1f1f1f;
  --c-bg-container: #393939;
  --c-bg-highlight: #040404;
  --c-text-1: #e0e0e0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  font-family: 'Ubuntu', sans-serif;
  color: white;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  color: var(--c-text-1);
  background: var(--c-bg-base);
  line-height: 1.6;
}
