:root {
  --c-bg-base: #141414;
  --c-bg-container: #2c2c2c;
  --c-bg-highlight: #040404;
  --c-text-1: #d0d0d0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  color: var(--c-text-1);
  background: var(--c-bg-base);
  line-height: 1.6;
  font-family: 'Faculty Glyphic', sans-serif;
}
