#custom-title-bar {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: #1d1d1d;
  color: rgb(238, 238, 238);
  user-select: none; /* Prevent text selection */
  -webkit-app-region: drag; /* Makes the entire bar draggable */
  z-index: 1000;
}

#window-title {
  /* Allow text selection if needed, but usually part of draggable area */
  margin-left: 15px;
  font-size: 1.5rem;
}

#window-controls {
  display: flex;
  align-items: center;
}

#window-controls button {
  -webkit-app-region: no-drag; /* Makes buttons clickable, not draggable */
  background: none;
  border: none;
  border-radius: 0px;
  color: white;
  padding: 10px;
  cursor: pointer;
  font-size: 25px;
  display: flex;
  align-items: center;
}

#window-controls button:hover {
  background-color: #555;
}

#content {
  padding: 20px;
}
